* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Courier Prime', monospace; */
    box-sizing: border-box;
}
.calculator {
    width: 100%;
    height: 100vh;
    background: #18057b;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(top ,#18057b, #fff);
    background-image:-moz-linear-gradient(top ,#18057b, #fff);
    background-image:-webkit-linear-gradient(top ,#18057b, #fff) ;
    background-image:-o-linear-gradient(top ,#18057b, #fff)
}
.calculator input {
    border: 1px solid #00000070;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgb(72 71 123);
    font-size: 20px;
    color: #979df1;
    cursor: pointer;
    margin: 10px;
    background-color: #18057b;
}
input::placeholder{
    color: #fff;
}
.display {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.output {
    text-align: center;
    flex: 1;
    font-size: 20px;
    box-shadow: none;
}
.display input{
    height:80px;
    font-size:xx-large;
}

form input:nth-child(4){
    color: #ef3fe8eb;
}
form .operators input{
    color: #ef3fe8eb;
}
form input.equal{
    width: 140px;
    color: #ef3fe8eb;
}
form{
    border-radius: 3%;
    padding: 5px;
    background-color: #0a88ef59;
}